html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Bricolage Grotesque', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.swiper-slide {
  width: fit-content;
}

.tg-login-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tgme_widget_login.large button.tgme_widget_login_button {
  padding: 8px 21px 10px !important;
}

.mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px !important;
  height: 8px !important;
  background-color: #ff66c8 !important;
  border-radius: 50px !important;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #1f1f1f !important;
  opacity: 1 !important;
}

/* loading */
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  display: inline-grid;
  color: #726ff7;
}

.loader:before,
.loader:after {
  content: 'BUSAI is coming...';
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}

@keyframes l11 {
  100% {
    transform: translateY(calc(var(--s, 1) * 0.1%));
  }
}
